{
    "openapi": "3.0.0",
    "info": {
        "title": "External Image API",
        "description": "",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://x21u-twbn-azx4.n7c.xano.io/api:INFikBde"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        },
        "schemas": {}
    },
    "paths": {
        "/image_api_original_no_bubble": {
            "post": {
                "summary": "",
                "description": "\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "image_api_original_no_bubble"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "processing": {
                                            "type": "string"
                                        },
                                        "remaining_credits": {
                                            "type": "string"
                                        },
                                        "return_url": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "the_id": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "webhook": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "prompt": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "guidance": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "aspect": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "negative": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "model": {
                                        "type": "string",
                                        "description": ""
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "the_id": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "webhook": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "prompt": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "guidance": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "aspect": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "negative": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "model": {
                                        "type": "string",
                                        "description": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/image_api": {
            "post": {
                "summary": "This will kick off the API process.",
                "description": "This will kick off the API process.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
                "tags": [
                    "image_api"
                ],
                "security": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "processing": {
                                            "type": "string"
                                        },
                                        "remaining_credits": {
                                            "type": "string"
                                        },
                                        "return_url": {
                                            "type": "string"
                                        },
                                        "uniqueString": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "the_id": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "webhook": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "prompt": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "guidance": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "aspect": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "negative": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "model": {
                                        "type": "string",
                                        "description": ""
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "the_id": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "webhook": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "prompt": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "guidance": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "aspect": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "negative": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "model": {
                                        "type": "string",
                                        "description": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/image_testing": {
            "get": {
                "summary": "",
                "description": "\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required",
                "tags": [
                    "image_testing"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Input Error. Check the request payload for issues."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied. Additional privileges are needed access the requested resource."
                    },
                    "404": {
                        "description": "Not Found. The requested resource does not exist."
                    },
                    "429": {
                        "description": "Rate Limited. Too many requests."
                    },
                    "500": {
                        "description": "Unexpected error"
                    }
                }
            }
        }
    }
}